/* Tailwind base setup */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

/* Custom reusable classes */
.btn-primary {
  @apply bg-[#4F46E5] text-white px-4 py-2 rounded hover:opacity-90;
}

.card {
  @apply bg-white p-4 rounded shadow-sm border hover:shadow-md transition;
}

.sidebar-item {
  @apply p-2 rounded cursor-pointer hover:bg-gray-100;
}

.sidebar-active {
  @apply bg-indigo-100 text-indigo-600;
}